// Add your global style here
:global {
  .gm-style:first-of-type > div:nth-child(1) {
    cursor: default !important;
  }

  .ant-form-item-label {
    text-align: left !important;
    margin-right: 1rem;
  }

  a {
    text-decoration: none !important;
  }

  body {
    min-width: 1024px;
  }
}