@import "../../styles/breakpoints";

:local {
  .container {
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: rgba(250,250,250,.7);
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    padding: 0 3rem;
    justify-content: space-between;
    z-index: 9999999;
  }

  .left, .right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    height: 2rem;
    width: 2rem;
  }

  .brand {
    color: black;
    font-variant: small-caps;
    cursor: default;
    font-size: 1.2rem !important;
    a {
      color: black !important;
      text-decoration: none !important;
    }
  }

  .item {
    a {
      color: rgba(17,17,17,.5);
    }
    margin-right: 2rem;
    font-size: 1rem;
  }
}

@media (max-width: $breakpoint-md) {
  .left {
    .item {
      &.brand, &:nth-child(n+3) {
        display: none;
      }
    }
  }
  .right {
    display: none;
  }
  .logo {
    height: 34px;
  }
}