@import "../../../styles/breakpoints";

:local {
  .subHeader {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }

  .userTable {
    width: 100%;
    margin-top: 1.5rem;
  }
}

@media (max-width: $breakpoint-md) {
  :local {
    .userTable {
      overflow-x: auto;
      padding-bottom: 1rem;
    }
  }

  :local(.userTable) :global(.ant-table) {
    min-width: 365px !important;
  }
}