version: '3'

networks:
  nginx_network:
    driver: bridge
  db_network:
    driver: bridge
  notification_network:
    driver: bridge
  redis_network:
    driver: bridge


services:
  db:
    image: postgres:9.6
    ports:
      - "5432:5432"
    env_file:
      - default.env
    networks: 
      - db_network
    environment:
      POSTGRES_PASSWORD: password
      TZ: UTC
  redis:
    image: redis:7-alpine
    command: redis-server
    ports:
      - "6379:6379"
    networks: 
      - redis_network
  web:
    build:
      context: ./deans-api
    image: django_image
    entrypoint: "sh start_django.sh"
    env_file:
      - default.env
    volumes:
      - ./deans-api/data:/data
      - ./deans-api/deans_api:/work/deans-api/deans_api
      - static_volume:/static-django
    depends_on:
      - db
      # - redis
    networks: 
      - db_network
      - nginx_network
      - notification_network
      - redis_network
  frontend:
    build: ./deans-frontend
    image: frontend_image
    networks:
      # - frontend_network
      - nginx_network
    ports:
      - 3000:3000
    volumes:
      - ./deans-frontend:/work/
      - /work/node_modules
    command: yarn start
  nginx:
    build:
      context: ./nginx
    image: nginx:1.13
    ports:
      - 8000:80
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - static_volume:/static-django
    env_file:
      - default.env
    depends_on:
      - web
      # - frontend
      # - node
    networks:
      - nginx_network

volumes:
  static_volume:
