:local {
  .map {
    margin-top: 1.5rem;
    height: 25rem;
  }

  .subHeader {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }

  .crisisListTable {
    width: 100%;
    margin-top: 1.5rem;
  }
}