@import "../../styles/breakpoints.scss";

:local {
  .container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    position: relative;
  }

  .status {
    position: sticky;
    top: 1rem;
    margin-top: 2rem;
    background-color: white;
  }

  .header {
    color: black;
    font-size: 2rem;
  }

  .left {
    flex: 1;
    margin-right: 2rem;
    margin-top: -1rem;
    position: relative;
  }

  .right {
    flex: 4;
    padding-right: 2rem;
    padding-top: 0.5rem;
  }

  .map {
    margin-top: 0.5rem;
    height: 25rem;
    width: 100%;
    // z-index: -1;
  }

  // .buttonGroup {
  //   margin-top: 1rem;
  // }

  .activeCrisisListTableContainer {
    margin-top: 2rem;
    width: 100%;
  }

  .subHeader {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .activeCrisisListTable {
    margin-top: 1.5rem;
  }
}

@media (max-width: $breakpoint-md) {
  :local {
    .container {
      flex-direction: column;
      padding: 0.75rem;
    }

    .left {
      margin-right: 0;
      margin-top: 0;
      order: 2;
    }

    .right {
      padding-right: 0;
      order: 1;
    }

    .map {
      height: 18rem;
      margin-top: 0.5rem;
    }

    .status {
      position: relative;
      top: auto;
      margin-top: 1rem;
    }

    .activeCrisisListTableContainer {
      margin-top: 1rem;
    }

    .subHeader {
      font-size: 1rem;
    }

    .activeCrisisListTable {
      margin-top: 0.75rem;
    }
  }
}