:local {
  .container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    position: relative;
  }

  .header {
    color: black;
    font-size: 2rem;
  }

  .subHeader {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .left {
    flex: 1;
    margin-right: 2rem;
    margin-top: -1rem;
    position: relative;
  }

  .right {
    flex: 4;
    padding-right: 2rem;
    padding-top: 0.5rem;
  }
  .map {
    margin-top: 0.5rem;
    height: 25rem;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    // z-index: -1;
  }

  // .buttonGroup {
  //   margin-top: 1rem;
  // }

  .activeCrisisListTableContainer {
    margin-top: 2rem;
    width: 100%;
  }

  .activeCrisisListTable {
    margin-top: 1.5rem;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
  }
}