:local {
  .container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    position: relative;
  }

  .left {
    flex: 1;
    margin-right: 2rem;
    margin-top: 0.5rem;
    position: relative;
  }

  .right {
    flex: 4;
    padding-right: 2rem;
    padding-top: 0.5rem;
  }

  .header {
    font-size: 2rem;
  }

  .map {
    margin-top: 1.5rem;
  }

  .table {
    margin-top: 1.5rem;
  }
}