@import "../../styles/breakpoints";

:local {
  .container {
    margin-top: 3rem;
    padding: 1.5rem 3rem;
    background-color: rgba(250, 250, 250, .7);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: $breakpoint-md) {
  :local(.container) {
    flex-direction: column !important;
    gap: 1rem;
    text-align: center;
    padding: 1.5rem 1.5rem;
  }
}