:local {
  .container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
  }

  .item {
    padding: 1rem;
    cursor: pointer;
    color: #444;

    &:hover {
      background-color: rgba(250,250,250,.9);

    }
  }

  .activeItem {
    background-color: rgba(250,250,250,.9);
    font-weight: 600;
    color: #000;
  }
}