@import "../../styles/breakpoints";

:local {
  .container {
    display: flex;
    flex-direction: row;
    padding: 0 $desktop-gutter;
    justify-content: center;
  }

  .innerContainer {
    width: 40%;
  }

  .header {
    font-size: 1.2rem;
    color: black;
    margin-top: 2rem;
  }

  .form {
    margin-top: 2rem;
  }
}

@media (max-width: $breakpoint-md) {
  :local {
    .container {
      flex-direction: column;
      padding: 0 $mobile-gutter;
    }
    .innerContainer {
      width: 100%;
      padding: 0 $mobile-gutter;
    }
    .header {
      font-size: 1.1rem;
      text-align: center;
    }
    .loginButton {
      width: 100%;
    }
  }
}