@import "../../../styles/breakpoints.scss";

:local {
  .tagContainer {
    margin: 1rem 0;
  }

  .subHeader {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: lighter;
    color: black;
  }

  .socialMediaAccountContainer {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(4, auto);
    grid-gap: 0.5rem;
    justify-content: space-between;

    .label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .actions {
      button {
        margin-right: 0.5rem;
      }
    }
  }

  .emergencyAgenciesContainer {
    // display: grid;
    margin-top: 1rem;
    width: 100%;
  }

  .summaryReportingEmailContainer {
    margin-top: 1rem;
  }
}

@media (max-width: $breakpoint-md) {
  :local {
    .subHeader {
      flex-direction: column;
      margin-top: 1.5rem;
      font-size: 1rem;
    }

    .tagContainer {
      margin: 0.75rem 0;
    }

    .socialMediaAccountContainer {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    .emergencyAgenciesContainer {
      margin-top: 0.75rem;
    }

    .summaryReportingEmailContainer {
      margin-top: 0.75rem;
    }
  }
}