[tool.black]
line-length = 120
target-version = ['py39']
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | migrations
  | __pycache__
)/
'''

[tool.pytest.ini_options]
python_files = ["tests.py", "test_*.py", "*_tests.py"]
testpaths = ["deans_api"]
addopts = "--strict-markers"
